node_modules
tmp
context
coverage
hubspot.config.yml
hubspot.config.yaml
hs-acceptance-test.config.yml
npm-debug.log
npm-debug.log.*
*.log
.DS_Store
coverage
.env
dist
yarn.lock

# Acceptance Tests
acceptance-tests/my-project
acceptance-tests/*.yml
acceptance-tests/*.html
acceptance-tests/test-output

**/.claude/settings.local.json

# Dir to sync to public repo
temp-repo-sync
