node_modules
tmp
context
coverage
hubspot.config.yml
hubspot.config.yaml
hs-acceptance-test.config.yml
npm-debug.log
npm-debug.log.*
*.log
.DS_Store
coverage
.env
dist
.node-version

# Acceptance Tests
acceptance-tests/my-project
acceptance-tests/*.yml
acceptance-tests/*.html
acceptance-tests/test-output
